body {
    size: auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background: url(img/guitar-back-ground.jpg) ;
    opacity: revert;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
}

table, th, td {
    border: solid 1px #000;
    padding: 10px;
}

.caption{
    color: #ffffff;
    position: relative;
    left: 38%;
}

/*table keys*/
.table-container{
    background: floralwhite;
    opacity: 0.75;
    width: 800px;
    position:relative;

}
#major-title{
    color: #ffffff;
    width: 800px;
    position:relative;
    left: 20%;
}
#minor-title{
    color: #ffffff;
    width: 800px;
    position:relative;
    left: 20%;
}




.keymcon{
    text-align: center;
}

.major-title{
    color: #ffffff; ;
}

#tableMaj{
    opacity: 77%;
}
#tableMin{
    opacity: 77%;
}



table {
    border-collapse:collapse;
    caption-side:bottom;
}

caption {
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
}

/*Tuner Page Styling*/
.tuner-nav{
    width: 1000px;
    margin: auto;
    background-color: #1e5799 ;
    height: 55px;

}
.tuner-title{
    font-size: 20px;
    text-align: center;
}
.title{
    color: #2357a2;
}

.section-tuner-title{
    padding: auto;
    text-align: center;
    color: lightgoldenrodyellow;
    background: #92e8f3;
}
.topbar-section{
    float: left;
    border-left: 1px grey solid;
    height: 100%;
}

#tuner-main-header{
    padding-top: 80px;
    background-color: transparent;
}


/*fretboard styling */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#guitar-fretboard-title{
    text-transform: uppercase;
    margin-top: 50px;
}

#guitar-neck {
    position: relative;
    margin-top: 40px;
    left: 50%;
    margin-left: -450px;
    width: 960px;
    height: 250px;
    background: #755628;
    box-shadow: inset -1px 0px 11px 0px rgba(0, 0, 0, 0.75);
}
#guitar-neck #open-notes {
    position: absolute;
    top: 3px;
    left: -35px;
}
#guitar-neck #open-notes li {
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
}
#guitar-neck #open-notes li.active {
    color: #fa990f;
}
#guitar-neck .fret {
    float: left;
    width: 3px;
    height: 250px;
    background: #d7d6d6;
    margin-left: 75px;
    border-right: 2px solid #686868;
}
#guitar-neck .fret.first {
    position: absolute;
    width: 50px;
    left: -52px;
    top: 0;
    margin-left: 0;
    background: #211f1d;
}
#guitar-neck #dots {
    position: absolute;
    width: 642px;
    height: 20px;
    top: 44%;
    left: 19.5%;
}
#guitar-neck #dots li {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #383530;
    margin-right: 140px;
}
#guitar-neck #strings {
    position: absolute;
    left: 0;
    top: 10px;
    width: 960px;
    height: 250px;
}
#guitar-neck #strings li {
    height: 1px;
    display: inline-block;
    width: 100%;
    background: #c8bb93;
    margin-bottom: 38px;
    border-bottom: 2px solid #958963;
    box-sizing: border-box;
}
#guitar-neck #strings li:nth-child(2) {
    height: 2px;
}
#guitar-neck #strings li:nth-child(3) {
    height: 3px;
}
#guitar-neck #strings li:nth-child(4) {
    height: 4px;
}
#guitar-neck #strings li:nth-child(5) {
    height: 5px;
}
#guitar-neck #strings li:nth-child(6) {
    height: 6px;
}
#guitar-neck #notes {
    position: absolute;
    left: 17px;
    top: -7px;
    width: 960px;
    height: 258px;
    overflow-x: hidden;
}
#guitar-neck #notes .mask {
    position: absolute;
    right: -189px;
    bottom: 0;
    width: 1184px;
    height: 30px;
}
#guitar-neck #notes .mask ul {
    position: relative;
    float: left;
}
#guitar-neck #notes .mask ul {
    position: relative;
    float: left;
}
#guitar-neck #notes .mask ul li {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 50px;
    background: #fa990f;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
#guitar-neck #notes .mask.a {
    bottom: 47px;
}
#guitar-neck #notes .mask.d {
    bottom: 93px;
}
#guitar-neck #notes .mask.g {
    bottom: 137px;
}
#guitar-neck #notes .mask.b {
    bottom: 181px;
}
#guitar-neck #notes .mask.high-e {
    bottom: 224px;
}
/*Fret board notes*/
#dots {
    position: absolute;
    width: 642px;
    height: 20px;
    top: 44%;
    left: 19.5%;

}




/*Chord progression selector*/






/*Need to Chop this up and restyle */
/*section.chord > div {*/
/*    background: transparent;*/
/*    padding: 0;*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    font-size: 1em;*/
/*}*/
/*section.chord > div + div {*/
/*    margin-left: 0.5em;*/
/*}*/
/*section.chord > div:hover {*/
/*    background: transparent;*/
/*}*/
/*section.chord > div.active {*/
/*    box-shadow: 0px 0px 0px 1px #fb0;*/
/*}*/
/*section.chord > div div {*/
/*    flex: 1;*/
/*    background: white;*/
/*    text-transform: none;*/
/*}*/




/*Footer Style */

.footer-bs {
    background-color: #3c3d41;
    padding: 60px 40px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}